<footer>
    <div class="fixed-bottom bg-dark">
        <div class="container text-center text-white">
            <p class="m-0 p-3">Copyright© 2022 - Mayan Soft Tech</p>
        </div>	
    </div>
</footer>