<!DOCTYPE html>
<html>
    <!-- HEAD -->
    <%- include('partials/head'); %>

    <body>
      <!-- NAV -->
        <%- include('partials/nav'); %>
        
        <main></main>

        <!-- FOOTER -->
        <%- include('partials/footer'); %>
    </body>
</html>
